@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Training Course Contents</title>
</head>
<body>
    <p>Course trainings are provided online or onsite by training partners and instructors</p>
    <div class="row">
        <h1>Training Course Contents</h1>
   
        <div class="col-md-4">
            <h3>Azure Administrator, Deployment (AZ100) </h3>
            <h5>Manage Subscriptions and Resources</h5>
            <ul>
                <li>Managing Azure Subscriptions</li>
                <li>Access Management for Cloud Resources</li>
                <li>Monitoring and Diagnostics</li>
                <li>Log Analytics</li>
                <li>Azure Resource Manager</li>
                <li>Azure Tips, Tricks, and Tools</li>
            </ul>
            <h5>Implementing and Managing Storage</h5>
            <ul>
                <li>Overview of Azure Storage</li>
                <li>Storage Services</li>
                <li>Securing and Managing Storage</li>
                <li>Storing and Accessing Data</li>
                <li>Monitoring Storage</li>
            </ul>
            <h5>Deploying and Managing Virtual Machines</h5>
            <ul>
                <li>Overview of Azure Machines</li>
                <li>Creating Virtual Machines</li>
                <li>Deploying Virtual Machine Images</li>
                <li>Configuring Virtual Machines</li>
                <li>Configuring Availability and Extensibility</li>
                <li>Managing and Monitoring Virtual Machines</li>
            </ul>
            <h5>Configuring and Managing Virtual Networks</h5>
            <ul>
                <li>Azure Virtual Networks</li>
                <li>Azure DNS</li>
                <li>Securing Virtual Network Resources</li>
                <li>Connecting Virtual Networks</li>
            </ul>
            <h5>Manage Identities</h5>
            <ul>
                <li>Managing Azure Active Directory</li>
                <li>Managing Azure Active Directory Objects</li>
                <li>Implementing and Managing Hybrid Identities</li>
            </ul>
        </div>


        <div class="col-md-4">
            <h3>Developing Solutions for Microsoft Azure (AZ-203)</h3>
            <h5>Implement solutions that use virtual machines (VM)</h5>
            <ul>
                <li>Provision VMs</li>
                <li>Create ARM templates</li>
                <li>Configure Azure Disk Encryption for VMs</li>
            </ul>
            <h5>Implement batch jobs by using Azure Batch Services</h5>
            <ul>
                <li>Manage batch jobs by using Batch Service API</li>
                <li>Run a batch job by using Azure CLI, Azure portal, and other tools</li>
                <li>Write code to run an Azure Batch Services batch job</li>
            </ul>
            <h5>Create containerized solutions</h5>
            <ul>
                <li>Create an Azure Managed Kubernetes Service (AKS) cluster</li>
                <li>Create container images for solutions</li>
                <li>Publish an image to the Azure Container Registry</li>
                <li>Run containers by using Azure Container Instance or AKS</li>
            </ul>
            <h5>Create Azure App Service Web Apps</h5>
            <ul>
                <li>Create an Azure App Service Web App</li>
                <li>Create an Azure App Service background task by using WebJobs</li>
                <li>Enable diagnostics logging</li>
            </ul>
            <h5>Create Azure App Service mobile apps</h5>
            <ul>
                <li>Add push notifications for mobile apps</li>
                <li>Enable offline sync for mobile app</li>
                <li>Implement a remote instrumentation strategy for mobile devices</li>
            </ul>
            <h5>Create Azure App Service API apps</h5>
            <ul>
                <li>Create an Azure App Service API app</li>
                <li>Create documentation for the API by using open source and other tools</li>
            </ul>
            <h5>Implement Azure functions</h5>
            <ul>
                <li>Implement input and output bindings for a function</li>
                <li>Implement function triggers by using data operations, timers, and webhooks</li>
                <li>Implement Azure Durable Functions</li>
                <li>Create Azure Function apps by using Visual Studio</li>
            </ul>
            <h5>Develop solutions that use storage tables</h5>
            <ul>
                <li>Design and implement policies for tables</li>
                <li>Query table storage by using code</li>
                <li>Implement partitioning schemes</li>
            </ul>
            <h5>Develop solutions that use Cosmos DB storage</h5>
            <ul>
                <li>Create, read, update, and delete data by using appropriate APIs</li>
                <li>Implement partitioning schemes</li>
                <li>Set the appropriate consistency level for operations</li>
            </ul>
            <h5>Develop solutions that use a relational database</h5>
            <ul>
                <li>Provision and configure relational databases</li>
                <li>Configure elastic pools for Azure SQL Database</li>
                <li>Create, read, update, and delete data tables by using code</li>
            </ul>
            <h5>Develop solutions that use blob storage</h5>
            <ul>
                <li>Move items in blob storage between storage accounts or containers</li>
                <li>Set and retrieve properties and metadata</li>
                <li>Implement blob leasing</li>
                <li>Implement data archiving and retention</li>
            </ul>
            <h5>Implement authentication</h5>
            <ul>
                <li>Implement authentication by using certificates, forms-based authentication, or tokens</li>
                <li>Implement multi-factor or Windows authentication by using Azure AD</li>
                <li>Implement OAuth2 authentication</li>
                <li>Implement Managed Service Identity (MSI)/Service Principal authentication</li>
            </ul>
            <h5>Implement access control</h5>
            <ul>
                <li>Implement CBAC (Claims-Based Access Control) authorization</li>
                <li>Implement RBAC (Role-Based Access Control) authorization</li>
                <li>Create shared access signatures</li>
            </ul>
            <h5>Implement secure data solutions</h5>
            <ul>
                <li>Encrypt and decrypt data at rest and in transit</li>
                <li>Create, read, update, and delete keys, secrets, and certificates by using the KeyVault API</li>
            </ul>
            <h5>Develop code to support scalability of apps and services</h5>
            <ul>
                <li>Implement autoscaling rules and patterns</li>
                <li>Implement code that handles transient faults</li>
            </ul>
            <h5>Integrate caching and content delivery within solutions</h5>
            <ul>
                <li>Store and retrieve data in Azure Redis cache</li>
                <li>Develop code to implement CDNs in solutions</li>
                <li>Invalidate cache content (CDN or Redis)</li>
            </ul>
            <h5>Instrument solutions to support monitoring and logging</h5>
            <ul>
                <li>Configure instrumentation in an app or service by using Application Insights</li>
                <li>Analyze and troubleshoot solutions by using Azure Monitor</li>
                <li>Implement Application Insights Web Test and Alerts</li>
            </ul>
            <h5>Develop an App Service Logic App</h5>
            <ul>
                <li>Create a Logic App</li>
                <li>Create a custom connector for Logic Apps</li>
                <li>Create a custom template for Logic Apps</li>
            </ul>
            <h5>Integrate Azure Search within solutions</h5>
            <ul>
                <li>Create an Azure Search index</li>
                <li>Import searchable data</li>
                <li>Query the Azure Search index</li>
            </ul>
            <h5>Establish API Gateways</h5>
            <ul>
                <li>Create an APIM instance</li>
                <li>Configure authentication for APIs</li>
                <li>Define policies for APIs</li>
            </ul>
            <h5>Develop event-based solutions</h5>
            <ul>
                <li>Implement solutions that use Azure Event Grid</li>
                <li>Implement solutions that use Azure Notification Hubs</li>
                <li>Implement solutions that use Azure Event Hub</li>
            </ul>
            <h5>Develop message-based solutions</h5>
            <ul>
                <li>Implement solutions that use Azure Service Bus</li>
                <li>Implement solutions that use Azure Queue Storage queues</li>
            </ul>

        </div>

    </div>

</body>
</html>