@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cloud Skills Challenge</title>

    <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
            function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
        }({
            instrumentationKey: "60846d8e-1b31-4419-9017-cddad5b256ed"
        });

        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
    </script>
</head>

<body>
@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">



        <div class="item active">
            <img src="~/images/banner5.jpg" alt="ASP.NET" class="img-responsive" />

            <div class="carousel-caption" role="option">
                <p>
                    Cloud Skills Challenge for Deloitte
                    <a class="btn btn-default" href="~/Home/Training">
                            Learn More
                        </a>
                </p>
            </div>
        </div>




    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@

<div class="row" style="background-color: black; color:darkgrey; background-image:url("~/images/Hero_BG.svg")">

    <div style="border-color:black;">
        <img src="~/images/Hero_BG.svg">
    </div>

    <div class="col-md-6">
        <p>
            <font style="font-size:34px; color:deepskyblue">Cloud Skills Challenge</font>
        </p>
        <p>
            <strong style="color:white"><b>...Hi Deloitte!</b></strong>
            I can help you get registered for Microsoft Cloud Skills Challenge. You can ask me questions like..

        </p>
        <br>
        <p>

            <h4>
                <ul>
                    <li>"List learning path"</li>
                    <li>"Register for learning path"</li>


                </ul>

            </h4>
            <br>
            <h2 style="color:green"><b> Customer Code: 641727</b></h2>


        </p>
    </div>

    <div class="col-md-6">

        <img src="~/images/PVA.png">
        <p><iframe src="https://powerva.microsoft.com/webchat/bots/83b9ed2d-729c-4aca-81a6-c3e2c150ee7b" frameborder="0" style="width: 100%; height: 400px;"></iframe></p>

    </div>


</div>

</body>
</html>
