@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hackathons</title>
</head>
<body>
    <p><h1>Hackathons Topics</h1></p>
    <p><u>Business Apps and Enterprise Developer</u></p>
    <ul>
        <li>Design solution architecture of AI Chatbot using Azure Bot Service, Logic Apps, Functions and Cosmos DB</li>
        <li>Hands on lab: Event grid, Event hub, Logic Aps</li>
        <li>Design and architect end-to-end solutions, Azure Container Service, PaaS</li>
        <li>Design and hands on creating Serverless application</li>
    </ul>
    <p><u>AI and AA</u></p>
    <ul>
        <li>Hand on lab with Azure Machine Learning Workbench</li>
        <li>Integration of machine learning outputs in web/mobile application</li>
        <li>Design and develop AI applications QnA chatbot for customer service</li>
        <li>Serverless application for data analytics</li>
        <li>Building AI applications with Cognitive Search</li>
        <li>Architecting Intelligent Agents</li>
        <li>Intelligent Analytics</li>
        <li>Enterprise Grade BI models with Power BI</li>
    </ul>
    <p><u></u><u>DevOps</u></p>
    <p>Azure Pipelines</p>
    <ul>
        <li>Containers and Kubernetes</li>
    </ul>
    <p>Easily build and push images to container registries like Docker Hub and Azure Container Registry. Deploy containers to individual hosts or Kubernetes.</p>
    <ul>
        <li>Continuous Integration, Delivery and Deployment (CI/CD)</li>
    </ul>
    <p>Azure Test Plans</p>
    <p><span style="text-decoration: underline;">Azure Stack</span></p>
    <ul>
        <li>Deploying and integrating an Azure Stack environment</li>
        <li>Configuring PaaS and IaaS for an Azure Stack environment</li>
        <li>Maintaining and monitoring an Azure Stack environment</li>
    </ul>
    <p><u>Data Operations</u></p>
    <ul>
        <li>SQL 2017 - Modern Data Platform</li>
        <li>Azure SQL Data Warehouse</li>
        <li>Azure Databricks</li>
        <li>Scaling ML models with Azure Databricks</li>
        <li>Deep Learning with GPU's on Azure Data Bricks</li>
        <li>Big Data Visualization</li>
        <li>Azure Database Services for MySQL, PostgreSQL and MariaDB</li>
        <li>SQL Server on Linux and Docker</li>
        <li>Business continuity and DR of Data</li>
        <li>Data Estate modernization</li>
    </ul>
    <p>Opportunities for HPC</p>
</body>
</html>