@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner3.svg" alt="ASP.NET" class="img-responsive" />

            <div class="carousel-caption" role="option">
                <p>
                    Enterprise Azure Skills Learning Plan
                    <a class="btn btn-default" href="~/Home/Training">
                        Learn More
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Role based training and Microsoft Certification
                    <a class="btn btn-default" href="~/Home/Hackathons">
                        Learn More
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/banner3.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Microsoft arranges Workshops and Hackathon around the world.
                    <a class="btn btn-default" href="~/Home/Workshops">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div style="align-content:center">
        <h2>Overview</h2>
        <p>The goal of this is to provide an overview and help you navigate the resources
        available to you as you prepare to get your customers trained and certified on Azure</p>
        <img src="~/images/Quick.jpg" align="middle" width="869" height="695"/>
    </div>
    <div class="col-md-3">
        <a href="~/Home/Training"><h2>Training and Certifications</h2></a>
        <p>
            Microsoft helps customers and partners to develop skills in Azure
            in Azure, earn Microsoft Certifications by providing training online or onsite</p>
        <ul>            
            <li>Enterprise Azure Skills Learning Plan <a href="~/Docs/doc1.docx">Download</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <a href="~/Home/Workshops">
            <h2>Workshops</h2>
            
                Microsoft organizes workshops for customers and partners. CSA, CSE, GBB  and TAM offers helps customer >>


            
        </a>
</div>
    <div class="col-md-3">
        <a href="~/Home/Hackathons">
            <h2>Hackathons</h2>
            
                Microsoft arranges series of Hackathons around the globe in Microsoft locations, also in partners and customer locations >>
            
        </a>
</div>
    <div class="col-md-3">
        <a href="~/Home/Roles">
            <h2>Role Definition</h2>

            Find the details on role based training outcomes. What you'll achieve after the role based training?
        </a>
    </div>
</div>
