

<div class="row" style="background-color: black; color:darkgrey; padding-top: 35px; text-align: inherit; padding-left: 20px; padding-right: 20px; padding-bottom:20px;">
    <h3>Thank you! An email has been send to your Microsoft contact. Account team will reach out to you shortly.</h3>
</div>