@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Training and Certification</title>
</head>
<body>

    <p><h1>Recommended Learning Plans</h1></p>

    <p>Based on the outlined business goals and aligned skills requirements, and leveraging the menu of training resources available, outline the recommended training plans for each role in the organization in the table below. Be sure to bring in the PSE for help and understanding with the training menu.</p>
    <p><u>Training Menu</u></p>
    <p>The training menu is divided into three tiers of training packages: <em>Foundational (Required), Advanced Role-Based, </em>and<em> Advanced Workload-Based</em>.</p>
    <ul>
        <li>Tier 1 offers an introductory start to Azure with self-paced and instructor-led options. (Required)</li>
        <li>Tier 2 provides master Azure skills within more in-depth training with self-paced MOOC and instructor-led options.</li>
        <li>Tier 3 provides instructor-led and facilitated training for a deep dive into Azure workloads with topic-based workshops and Hacks.</li>
    </ul>
    <p><img src="~/images/tiers.jpg" align="middle" width="800" height="445" /></p>
    <p>
        [Both T2 and T3 are advanced level content. T1 as introductory and required, then straight to
        T3 if the desire is to learn about specific services\workloads.]
    </p>

    <div id="t1">


        <p><h2>Foundational (T1)</h2></p>
        <p>Introductory start to learning Azure.&nbsp; Available as Self-Paced (online) or Instructor Led.&nbsp;</p>

        <strong>Azure Essentials - </strong>Micro learning with quick overview of a variety topics


        <ul>
            <li>16 tracks available</li>
            <li>1 day in-person</li>
            <li>Self-paced, online</li>
            <li>Prerequisite: None</li>
            <li>Available on <a href="https://azure.com/essentials">com/essentials</a></li>
            <li>Cost: Free</li>
        </ul>


        <strong>Pluralsight Learning Paths &ndash; </strong>Video based learning across various job roles


        <ul>
            <li>7 Paths available across 26 Courses</li>
            <li>Self-paced, online</li>
            <li>Prerequisite: None</li>
            <li>Available on <a href="https://docs.microsoft.com/en-us/learn/azure/">microsoft.com/en-us/training/learning-paths/</a></li>
            <li>Cost: Free</li>
        </ul>

    </div>

    <div id="t2">
        <p><h2>Advanced Role-based (T2)</h2></p>
        <p>Master Azure skills with in-depth role-based training that is aligned to certification.</p>
        <p>T2 Training tracks:</p>
        <ul>
            <li>Cloud Administration</li>
            <li>Solutions Architect</li>
            <li>Data and Analytics</li>
            <li>DevOps</li>
        </ul>

        <strong>Instructor Led</strong>
        <ul>
            <li>Traditional classroom trainings taught by Microsoft Certified trainers (MCT) and composed of Microsoft Official Courses (MOC)</li>
            <li>20 Titles Available</li>
            <li>In-Person or Online Instructor Led</li>
            <li>Courses are 3-5 Days in Length</li>
            <li>Delivered by Learning Partners</li>
            <li>Prerequisite: T1, Azure Fundamental</li>
            <li>$Cost: Fee based through Learning Partners</li>
        </ul>

        <strong>Online Self-Paced</strong>
        <ul>
            <li>Self-Paced MOOC</li>
            <li>Opt for flexibility and choose online learning modalities such as Massive Open Online Courses (MOOC)</li>
            <li>40+ Titles Available</li>
            <li>Courses vary in Length</li>
            <li>4 Learning Paths (Cloud Administration, Solutions Architect, Data &amp; Analytics, and DevOps)</li>
            <li>Delivered by Learning Partners with tracking available</li>
            <li>Prerequisite: Foundational Azure Experience or Training</li>
            <li>$Cost: Fee based through Learning Partners</li>
        </ul>

        <strong>Certification &ndash; </strong>Validate your skills with Certification
        <ul>
            <li>In-Person and Online Proctor Available</li>
            <li>10+ Azure Exams Available</li>
            <li>Prerequisite: Varies per exam</li>
            <li>Available on <a href="http://aka.ms/AzureCertification">http://aka.ms/AzureCertification</a></li>
            <li>Cost: Fee based</li>
        </ul>



    </div>

    <div id="t3">
        <p><h2>Advanced Workload-based (T3)</h2></p>
        <p>Deep dive into Azure workloads with topic-based workshops and Hacks.</p>
        <p><strong>Scenario-Based Workshops &ndash; &ldquo;Microsoft Cloud Workshops&rdquo; </strong>Develop technical skills via architectural solution design and Hands on Lab</p>
        <ul>
            <li>Instructor-Led</li>
            <li>27 Available Workload focused topics available</li>
            <li>Delivered by CSA/GBB</li>
            <li>Prerequisite: Azure Experience in relevant topic, T1-Fundamental</li>
            <li>Workshop Details <a href="http://aka.ms/mscloudworkshop">ms/</a><a href="http://aka.ms/mscloudworkshop">mscloudworkshop</a></li>
            <li>Cost: Free if utilizing internal CSA/GBB</li>
        </ul>
        <p><strong>Suggested Workshop: </strong></p>
        <ul>
            <li>T3 track a customized workshop tailored to migration of on premise workloads into Azure</li>
            <li>Azure design session that is specific to the workload to migrate.&nbsp;</li>
            <li>Targeted to specifically moving an existing workload into Azure</li>
        </ul>

        <p><strong>Hackathons</strong><strong>&ndash; </strong>Large-scale coding engagement focused on the development and knowledge transfer of strategic tech skills to both MSFT (CSA, TSP, GBB) and industry (customer, partner, developer) tech roles through challenge-based hack</p>
        <ul>
            <li>OpenHack details: <a href="https://aka.ms/CSEOpenHackRegister">ms/</a><a href="https://aka.ms/CSEOpenHackRegister">CSEOpenHackRegister</a></li>
            <li>Duration: 3 days</li>
            <li>Delivered by CSE</li>
            <li>Prerequisite: Prequalified by CSE</li>
            <li>Cost: Free</li>
        </ul>


    </div>

    <p></p>
    <div id="plan_table">
        <h1>Customer Training Plan and Schedule </h1>
        <table width="1084" border="1">
            <tbody>
                <tr>
                    <td width="77">
                        <p><strong>Targeted Role(s)</strong></p>
                    </td>
                    <td width="53">
                        <p><strong># to be trained</strong></p>
                    </td>
                    <td width="88">
                        <p><strong>Title of Training</strong></p>
                    </td>
                    <td width="41">
                        <p><strong>Level</strong></p>
                    </td>
                    <td width="88">
                        <p><strong>Delivery Approach </strong><strong>(Learning Partner or MSFT and specific role/person to deliver)</strong></p>
                    </td>
                    <td width="84">
                        <p><strong>Length</strong></p>
                    </td>
                    <td width="96">
                        <p><strong>Delivered by</strong></p>
                    </td>
                    <td width="84">
                        <p><strong>Scheduled Delivery Date</strong></p>
                    </td>
                    <td width="72">
                        <p><strong>Completed Delivery Date</strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" width="1084">
                        <p><strong>Foundational Training</strong></p>
                    </td>
                </tr>
                <tr>
                    <td width="77">
                        <p><em>SAMPLE:</em><em> Business Decision Makers and Project Managers</em></p>
                    </td>
                    <td width="53">
                        <p><em>100</em></p>
                    </td>
                    <td width="88">
                        <p><em>Azure Essentials</em></p>
                    </td>
                    <td width="41">
                        <p><em>Foundational</em></p>
                    </td>
                    <td width="88">
                        <p><em>In-person, Learning Partner</em></p>
                    </td>
                    <td width="84">
                        <p><em>varies</em></p>
                    </td>
                    <td width="96">
                        <p><em>Self-paced</em></p>
                    </td>
                    <td width="84">
                        <p><em>January 4<sup>th</sup> (ongoing monthly)</em></p>
                    </td>
                    <td width="72">
                        <p><em>&nbsp;</em></p>
                    </td>
                </tr>
                <tr>
                    <td width="77">
                        <p>&nbsp;</p>
                    </td>
                    <td width="53">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="41">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="96">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="72">
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="77">
                        <p>&nbsp;</p>
                    </td>
                    <td width="53">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="41">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="96">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="72">
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" width="1084">
                        <p><strong>Role-Based Training</strong></p>
                    </td>
                </tr>
                <tr>
                    <td width="77">
                        <p><em>SAMPLE:</em><em> System Administrators, Architects, and Engineers</em></p>
                    </td>
                    <td width="53">
                        <p><em>20</em></p>
                    </td>
                    <td width="88">
                        <p><em>Implementing Azure Infrastructure</em></p>
                        <p><em>&nbsp;</em></p>
                    </td>
                    <td width="41">
                        <p><em>Role-based Advanced</em></p>
                    </td>
                    <td width="88">
                        <p><em>ILT at customer</em></p>
                    </td>
                    <td width="84">
                        <p><em>5 days</em></p>
                    </td>
                    <td width="96">
                        <p><em>Learning Partner</em></p>
                    </td>
                    <td width="84">
                        <p><em>Januray 4<sup>th</sup>- 9<sup>th</sup> &nbsp;</em></p>
                    </td>
                    <td width="72">
                        <p><em>&nbsp;</em></p>
                    </td>
                </tr>
                <tr>
                    <td width="77">
                        <p>&nbsp;</p>
                    </td>
                    <td width="53">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="41">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="96">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="72">
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="77">
                        <p>&nbsp;</p>
                    </td>
                    <td width="53">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="41">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="96">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="72">
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" width="1084">
                        <p><strong>Workload-Based Training</strong></p>
                    </td>
                </tr>
                <tr>
                    <td width="77">
                        <p><em>SAMPLE:</em><em> Architects, and Developers</em></p>
                    </td>
                    <td width="53">
                        <p><em>15</em></p>
                    </td>
                    <td width="88">
                        <p><em>&lt;&lt;Specific Workshop titles&gt;&gt;</em></p>
                    </td>
                    <td width="41">
                        <p><em>Workload-based Advanced</em></p>
                    </td>
                    <td width="88">
                        <p><em>Two Workshops with Hands-on Labs at customer site</em></p>
                    </td>
                    <td width="84">
                        <p><em>2 days</em></p>
                    </td>
                    <td width="96">
                        <p><em>CSA, GBB</em></p>
                    </td>
                    <td width="84">
                        <p><em>Xx - xx</em></p>
                    </td>
                    <td width="72">
                        <p><em>&nbsp;</em></p>
                    </td>
                </tr>
                <tr>
                    <td width="77">
                        <p>&nbsp;</p>
                    </td>
                    <td width="53">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="41">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="96">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="72">
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="77">
                        <p>&nbsp;</p>
                    </td>
                    <td width="53">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="41">
                        <p>&nbsp;</p>
                    </td>
                    <td width="88">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="96">
                        <p>&nbsp;</p>
                    </td>
                    <td width="84">
                        <p>&nbsp;</p>
                    </td>
                    <td width="72">
                        <p>&nbsp;</p>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>


    <div class="row" style="background-color:azure">
        <h1>Training Course Contents</h1>
        <div class="col-md-4">
            <strong>Azure Administrator, Deployment (AZ100) </strong>
            <div class="ftindex">
                <h5>Manage Subscriptions and Resources</h5>
                <ul>
                    <li>Managing Azure Subscriptions</li>
                    <li>Access Management for Cloud Resources</li>
                    <li>Monitoring and Diagnostics</li>
                    <li>Log Analytics</li>
                    <li>Azure Resource Manager</li>
                    <li>Azure Tips, Tricks, and Tools</li>
                </ul>
                <h5>Implementing and Managing Storage</h5>
                <ul>
                    <li>Overview of Azure Storage</li>
                    <li>Storage Services</li>
                    <li>Securing and Managing Storage</li>
                    <li>Storing and Accessing Data</li>
                    <li>Monitoring Storage</li>
                </ul>
                <h5>Deploying and Managing Virtual Machines</h5>
                <ul>
                    <li>Overview of Azure Machines</li>
                    <li>Creating Virtual Machines</li>
                    <li>Deploying Virtual Machine Images</li>
                    <li>Configuring Virtual Machines</li>
                    <li>Configuring Availability and Extensibility</li>
                    <li>Managing and Monitoring Virtual Machines</li>
                </ul>
                <a href="~/Home/Course"> ....continue course content</a>
            </div>

        </div>
        <div class="col-md-4">

            <strong>Developing Solutions for Microsoft Azure (AZ-203)</strong>
            <h5>Implement solutions that use virtual machines (VM)</h5>
            <ul>
                <li>Provision VMs</li>
                <li>Create ARM templates</li>
                <li>Configure Azure Disk Encryption for VMs</li>
            </ul>
            <h5>Implement batch jobs by using Azure Batch Services</h5>
            <ul>
                <li>Manage batch jobs by using Batch Service API</li>
                <li>Run a batch job by using Azure CLI, Azure portal, and other tools</li>
                <li>Write code to run an Azure Batch Services batch job</li>
            </ul>
            <h5>Create containerized solutions</h5>
            <ul>
                <li>Create an Azure Managed Kubernetes Service (AKS) cluster</li>
                <li>Create container images for solutions</li>
                <li>Publish an image to the Azure Container Registry</li>
                <li>Run containers by using Azure Container Instance or AKS</li>
            </ul>
            <h5>Create Azure App Service Web Apps</h5>
            <ul>
                <li>Create an Azure App Service Web App</li>

            </ul>

            <a href="~/Home/Course"> ....continue course content</a>
        </div>

    </div>
</body>
</html>