@{
    ViewData["Title"] = "Cloud Skills Challenge Report";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Workshops</title>
</head>
<body>
    <p>
        Microsoft conducts several workshops on Azure services worldwide. These are lead by GBB, TAM, PFE.
        Our local Technical Account Management (TAM) coordinates and manages these workshops. TAM works with local PFEs to deliver these workshops and courses to our
        customers.
        <br><br>
        Microsoft GBB and CSE conduct workshops on on any Microsoft Azure products onsite with customer development team. Our highly skilled workshop help customers to reach their goal in business using Azure.

    </p>

    <p><strong>Workshops Topics</strong></p>



    <p><strong>List of TAM coordinated workshops</strong></p>
    <div>

        <table style="width: 742.5px;" border="1">
            <tbody>
                <tr>
                    <td style="width: 93px;">
                        <p>Workshop - Azure: Advanced Cloud Business Analytics - Closed Workshop</p>
                    </td>
                    <td style="width: 143px;">
                        <p>Microsoft Advanced Cloud Business Analytics is a 5 (five) days workshop which offers to attendees advanced learning on Microsoft Cloud Analytics solutions with focus on HDInsight and Azure Machine Learning through a solution proof of concept type approach. The program is composed of classroom training that may include some theory is focused on practical solution development based on a real world scenario. The attendees will be expected to develop the solution with support from the instructor. This approach should allow attendees to deepen their knowledge on Hadoop framework technologies and Machine Learning techniques that Microsoft build on Azure.</p>
                    </td>
                    <td style="width: 84px;">
                        <p>Workshop</p>
                    </td>
                    <td style="width: 70px;">
                        <p>2,600.00</p>
                    </td>
                    <td style="width: 46px;">
                        <p>USD</p>
                    </td>
                    <td style="width: 54px;">
                        <p>Azure</p>
                    </td>
                    <td style="width: 48px;">
                        <p>400</p>
                    </td>
                    <td style="width: 78px;">
                        <p>Level1</p>
                    </td>
                    <td style="width: 124.5px;">
                        <p>Secure Infrastructure</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <p><strong>Additional</strong></p>
    <p>
        <input type="checkbox" name="hackathon" value="Hackathon"> We need Hackathon<br>
        Hackathon Details:<input type="text" name="fname"><br>
    </p>

    <p>

        <input type="checkbox" name="vehicle" value="Car" checked> We need Workshop<br>
        Workshop Details: <input type="text" name="fname"><br>
    </p>

</body>
</html>